In [7]:
#task 1
print("Hello, Python!")

Hello, Python!

In [8]:
#task 2
print("5 + 3 =", 5 + 3)

5 + 3 = 8

[1, 2, 3, 4]

In [13]:
#task 2
list=[1,2,3]
list.append(4)
print(list)
set={2,4,6}
print(set)
tuple=(1,3,5)
print(tuple)
dict={"a":"1","b":"2"}
dict['c']='3'
print(dict)

[1, 2, 3, 4]
{2, 4, 6}
(1, 3, 5)
{'a': '1', 'b': '2', 'c': '3'}

In [33]:
import numpy as np
arr=np.array([1,2,3,4,5,6,7,8,9,10])
mean=sum(arr)/len(arr)
print("Mean:",mean)
min_value=min(arr)
max_value=max(arr)
print("Min:",min_value)
print("Max:",max_value)

Mean: 5.5
Min: 1
Max: 10

In [38]:
#task3
#pandas csv load
import pandas as pd
df=pd.read_csv(r"C:\Users\sahan\Downloads\customers-100.csv")
df=df.iloc[5]
df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [42]:
print(df.dtypes)

Index                 int64
Customer Id          object
First Name           object
Last Name            object
Company              object
City                 object
Country              object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
dtype: object

In [43]:
df.info

<bound method DataFrame.info of     Index      Customer Id First Name Last Name  \
0       1  DD37Cf93aecA6Dc     Sheryl    Baxter
1       2  1Ef7b82A4CAAD10    Preston    Lozano
2       3  6F94879bDAfE5a6        Roy     Berry
3       4  5Cef8BFA16c5e3c      Linda     Olsen
4       5  053d585Ab6b3159     Joanna    Bender
..    ...              ...        ...       ...
95     96  cb8E23e48d22Eae       Karl     Greer
96     97  CeD220bdAaCfaDf       Lynn  Atkinson
97     98  28CDbC0dFe4b1Db       Fred    Guerra
98     99  c23d1D9EE8DEB0A     Yvonne    Farmer
99    100  2354a0E336A91A1   Clarence    Haynes

                            Company               City  \
0                   Rasmussen Group       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
..                              ...                ...
95                        Carey LLC       East Richard
96            Ware, Burns and Oneal       New Bradview
97                    Schmitt-Jones         Ortegaland
98               Fitzgerald-Harrell    Lake Elijahview
99               Le, Nash and Cross          Judymouth

                       Country                 Phone 1  \
0                        Chile            229.077.5154
1                     Djibouti              5153435776
2          Antigua and Barbuda         +1-539-402-0259
3           Dominican Republic  001-808-617-6467x12895
4   Slovakia (Slovak Republic)  001-234-203-0635x76146
..                         ...                     ...
95                      Guyana     (188)169-1674x58692
96                   Sri Lanka         +1-846-706-2218
97             Solomon Islands    +1-753-067-8419x7170
98                       Aruba           (530)311-9786
99                    Honduras           (753)813-6941

                   Phone 2                           Email Subscription Date  \
0         397.884.0519x718        zunigavanessa@smith.info        2020-08-24
1         686-620-1820x944                 vmata@colon.com        2021-04-23
2      (496)978-3969x58947             beckycarr@hogan.com        2020-03-25
3          +1-813-324-8756     stanleyblackwell@benson.org        2020-06-02
4    001-199-446-3860x3486         colinalvarado@miles.net        2021-04-17
..                     ...                             ...               ...
95    001-841-293-3519x614                hhart@jensen.com        2022-01-30
96            605.413.3198               vkemp@ferrell.com        2021-07-10
97   +1-632-666-7507x92121                swagner@kane.org        2021-09-18
98  001-869-452-0943x12424  mccarthystephen@horn-green.biz        2021-08-11
99            783.639.1472          colleen91@faulkner.biz        2020-03-11

                              Website
0          http://www.stephenson.com/
1               http://www.hobbs.com/
2            http://www.lawrence.com/
3          http://www.good-lyons.com/
4         https://goodwin-ingram.com/
..                                ...
95            http://hayes-perez.com/
96         https://novak-allison.com/
97              https://www.ross.com/
98               http://watkins.info/
99  http://www.hatfield-saunders.net/

[100 rows x 12 columns]>

In [47]:
#dynamic data structure
dict={}
for x in range(3):
    key=input("enter the key value:")
    val=int(input("enter the value:"))
    dict[key]=val
    print(dict)

enter the key value: x
enter the value: 1

{'x': 1}

enter the key value: y
enter the value: 2

{'x': 1, 'y': 2}

enter the key value: z
enter the value: 3

{'x': 1, 'y': 2, 'z': 3}

In [1]:
#task 4
#NumPy Matrix Operations
import numpy as np

In [4]:
arr=np.array

In [13]:
my_list1=[1,2,]
my_list2=[3,4]
arr_1=np.array([my_list1,my_list2])

In [14]:
print(arr_1)

[[1 2]
 [3 4]]

In [16]:
my_list3=[5,6]
my_list4=[7,8]
arr_2=np.array([my_list3,my_list4])
print(arr_2)

[[5 6]
 [7 8]]

In [18]:
sum=np.add(arr_1,arr_2)
print("sum=",sum)

sum= [[ 6  8]
 [10 12]]

In [19]:
dot=np.dot(arr_1,arr_2)
print("dot=",dot)

dot= [[19 22]
 [43 50]]

In [25]:
multiplication=np.multiply(arr_1,arr_2)
print("element-wise-multiplication=",multiplication)

element-wise-multiplication= [[ 5 12]
 [21 32]]

In [26]:
matrix=arr_1@arr_2
print("matrix_multiplication=",matrix)

matrix_multiplication= [[19 22]
 [43 50]]